.blog-page {
  //background-color: $almost-white;
  margin-top: 3px;
  padding: 2rem;
  padding-top: 6rem;

  height: 100rem;
}

.posts-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    margin: 2rem;
    transition: 1s all;
    padding: 0 1rem 1rem 1rem;
    border-left: 3px solid transparent;
    flex: 1 1 40%;
    border-bottom: 1px solid linear-gradient($blue, $gray);

    &:not(:last-child) {
      padding-bottom: 2rem;
    }

    &:hover {
      border-left: 3px solid $blue;
      //transform: scale(1.05);
    }

    &-info {

      &-title {
        color: $blue;
        font-weight: 300;
        margin-bottom: .5rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
      }

      &-date {
        //color: $color-tertiary-light;
        margin-bottom: .5rem;
        color: $gray;
        font-weight: lighter;
        letter-spacing: .5rem;
      }

      &-summary {
        font-weight: lighter;
      }

    }

    &-image {

    }

  }
}